.new-stocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
  }
  
  .new-stocks h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
  }
  
  .new-stocks hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
  }
  
  .new-stocks-item {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
  }
  
  .billing-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .billing-form h2 {
    margin-bottom: 20px;
  }
  
  .billing-form form {
    display: flex;
    flex-direction: column;
  }
  
  .billing-form form button {
    margin-top: 20px;
  }